POST http://127.0.0.1:8000/api/reservations
Content-Type: application/json

{
  "lastName": "丹波",
  "firstName": "凛",
  "email": "rin.tamba@tam-bourine.co.jp",
  "phone": "09011112222",
  "checkin": "2021/11/27",
  "days": 3,
  "room": 1,
  "type": "twin",
  "count": 2
}

###
